#root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.file-upload {
}

.upload-list {
}

.container-group {
  display: flex;
  column-gap: 5rem;
  row-gap: 5rem;
  flex-wrap: wrap;
  align-items: flex-start;
}

.file-list {
  /* width: 100%; */
}
/* grid-template-columns: 1fr 3fr;
} */
a {
  color: blue;
}
